<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <object th:replace="fragments/head :: head" th:remove="tag"></object>
</head>
<body>
<div class="container">

    <div class="twelve column" id="signUpButtonDiv">
        <input id="signUpButton" class="button-primary u-pull-right" type="button" value="Sign up"/>
    </div>

    <div id="userForm" style="display: none">
        <form class="twelve column">
                <h3 style="text-align: center;">Registration</h3>

                <div class="six columns offset-by-three">
                    <label for="emailInput">Email</label>

                    <input class="u-full-width" type="email" placeholder="test@mailbox.com" id="emailInput"/>
                    <span id="error" style="color: red; display: none">This email already taken!</span>

                    <label for="passwordInput">Password</label>

                    <input class="u-full-width" type="password" placeholder="" id="passwordInput"/>

                    <label>
                        <span class="label-body"></span>
                    </label>

                    <input class="button-primary u-full-width" type="submit" value="Create my account" id="submitButton"/>
                </div>
        </form>

    </div>
</div>


<div id="successMessage" class="container" style="text-align: center; display: none">

    <h2>Success! Check your mail!</h2>

</div>
<script>
    $(document).ready(function () {
        $("#signUpButton").click(function(){
            $("#signUpButtonDiv").hide();
            $("#userForm").show();
        });


        $("form").submit(function (event) {
            var formData = {
                'email': $("#emailInput").val(),
                'password': $("#passwordInput").val()
            };
            $.ajax({
                type: 'POST',
                url: '/registration',
                data: formData
            }).done(function (data) {
                if (data == "error") {
                    $("span#error").show();
                } else if (data == "success") {
                    $("#userForm").hide();
                    $("#successMessage").show();
                }
            });

            event.preventDefault();


        });

    });
</script>
</body>
</html>